<!DOCTYPE html>
<html lang="en">

<!-- Head tag -->
<%- partial('_partial/head') %>

<body>

<div class="bg-gradient"></div>
<div class="bg-pattern"></div>

<!-- Menu -->
<%- partial('_partial/menu') %>

<div class="container"  style="background-color: rgba(0, 0, 0, 0.24);backdrop-filter: blur(40px);">

    <!-- Main Content -->
    <%- body %>

</div>

<!-- Footer -->
<%- partial('_partial/footer') %>

<!-- After footer scripts -->
<%- partial('_partial/after-footer') %>

</body>
<script>

  const Favicon = link => {
    let $favicon = document.querySelector('link[rel="icon"]');
    // If a <link rel="icon"> element already exists,
    // change its href to the given link.
    if ($favicon !== null) {
      $favicon.href = link;
      // Otherwise, create a new element and append it to <head>.
    } else {
      $favicon = document.createElement("link");
      $favicon.rel = "icon";
      $favicon.href = link;
      document.head.appendChild($favicon);
    }
  };
  let icon = "/icons/" + (Math.ceil(Math.random()*14) + 1) + ".jpg"; // 图片地址
  console.log(icon)
  Favicon(icon); // 动态修改网站图标
 
</script>
</html>